{# _includes/postslist.njk #}
<ul class="feed">
  {% for post in postslist %}
    {% set t = post.data.type or "note" %}
    <li class="feed__item">
      {% if t == "article" %}
        {% include "components/card-article.njk" %}
      {% elif t == "photo" %}
        {% include "components/card-photo.njk" %}
      {% elif t == "bookmark" %}
        {% include "components/card-bookmark.njk" %}
      {% elif t == "reply" %}
        {% include "components/card-reply.njk" %}
      {% elif t == "like" %}
        {% include "components/card-like.njk" %}
      {% elif t == "repost" %}
        {% include "components/card-repost.njk" %}
      {% else %}
        {% include "components/card-note.njk" %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
