<ul>
    {% for post in postslist%}
    <li>
    <article class="h-entry">
        <h3 class = "p-name e-content">
            <a class= "u-url" href="/posts/{{ post.data.slug }}/">{{post.data.title}}</a>
        </h3>
            <time class="dt-published" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        <p> {{ post.data.description }}</p>
        </article>
    </li>

    {% endfor %}
</ul>
