<article class="h-entry h-entry--bookmark">
  {% set target = post.data["bookmark-of"] | first %}
  <header>
          <small>
              <strong>⌂ Bookmarked </strong><a class="u-bookmark-of" href="{{ target }}">{{ target }}</a>
          </small>
  </header>

  {% if post.data.title or post.data.name %}
    <h3 class="p-name">
      <a class="u-url" href="{{ post.url }}" rel="bookmark">{{ post.data.title or post.data.name }}</a>
    </h3>
  {% endif %}

  {% if post.templateContent %}
    <p class="e-content">{{ post.templateContent | safe }}</p>
  {% endif %}

  {% include "components/card-footer-tags.njk" %}
</article>
