<article class="h-entry h-entry--repost">
  {% set targetUrl = post.data['in-reply-to'] or post.data['bookmark-of'] or post.data['like-of'] or post.data['repost-of'] %}
  <header>
      <small>
          <strong>↔ Reposted </strong>
          {% if targetUrl %}
            <a class="u-repost-of" href="{{ targetUrl }}">{{ targetUrl }}</a>
          {% else %}
            <span>No target</span>
          {% endif %}
      </small>
  </header>

  {% if targetUrl %}
    {% set context = targetUrl | fetchContext %}
    {% include "components/context-cite.njk", ctx: context %}
  {% endif %}

  {% if post.templateContent %}
    <p class="e-content">{{ post.templateContent | safe }}</p>
  {% endif %}

  {% include "components/card-footer-tags.njk" %}
</article>
