<article class="h-entry h-entry--like">
  {% set target = post.data["like-of"] | first %}
  <header>
      <small>
          <strong>☆Liked </strong><a class="u-like-of" href="{{ target }}">{{ target }}</a>
      </small>
  </header>

  {% if post.templateContent %}
    <p class="e-content">{{ post.templateContent | safe }}</p>
  {% endif %}

</article>
