<article class="h-entry h-entry--note">
  <div class="e-content p-name">
    {{ post.templateContent | safe }}
  </div>
  <a class="u-url" href="{{ post.url }}" rel="bookmark">
    <time class="dt-published" datetime="{{ post.date | htmlDateString }}">
      {{ post.date | readableDate }}
    </time>
  </a>
</article>
