<article class="h-entry h-entry--bookmark">
  {% set targetUrl = post.data['in-reply-to'] or post.data['bookmark-of'] or post.data['like-of'] or post.data['repost-of'] %}
  <header>
          <small>
              <strong>⌂ Bookmarked </strong>
              {% if targetUrl %}
                <a class="u-bookmark-of" href="{{ targetUrl }}">{{ targetUrl }}</a>
              {% else %}
                <span>No target</span>
              {% endif %}
          </small>
  </header>

  {% if targetUrl %}
    {% set context = targetUrl | fetchContext %}
    {% include "components/context-cite.njk", ctx: context %}
  {% endif %}

  {% if post.data.title or post.data.name %}
    <h3 class="p-name">
      <a class="u-url" href="{{ post.url }}" rel="bookmark">{{ post.data.title or post.data.name }}</a>
    </h3>
  {% endif %}

  {% if post.templateContent %}
    <p class="e-content">{{ post.templateContent | safe }}</p>
  {% endif %}

  {% include "components/card-footer-tags.njk" %}
</article>
