<article class="h-entry h-entry--repost">
  {% set target = post.data["repost-of"] | first %}
  <header>
      <small>
          <strong>↔ Reposted </strong><a class="u-repost-of" href="{{ target }}">{{ target }}</a>
      </small>
  </header>
  {% if post.templateContent %}
    <p class="e-content">{{ post.templateContent | safe }}</p>
  {% endif %}

  {% include "components/card-footer-tags.njk" %}
</article>
