<!DOCTYPE html >
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {{ title }} </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
        <link rel="me" href="https://github.com/james-andrews-coulter" />
        <link rel="webmention" href="https://webmention.io/blog.jamesandrewscoulter.com/webmention" />
        <link rel="micropub" href="https://blog.jamesandrewscoulter.com/api/micropub">
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

    </head>
    <body >
        {% include "layouts/header.njk" %}
        <main>
            {{ content | safe }}
        </main>
        {% include "layouts/footer.njk" %}
    </body>
</html>
