<header>
<div class = "h-card">
    <img class="photo u-photo" src="/images/photo.png" alt="James Coulter">
    <a class="u-url u-uid" rel="author" href="/">
        <h1 class="p-name">James Coulter</h1>
    </a>
    <p class="p-note" >I'm an Australian Product Designer living in Europe. I like to fix my bike, write on my blog, and play guitar. </p>
</div>
</header>
