<header>
    <img class="photo u-photo" src="images/photo.png" alt="James Coulter">
    <a class="u-url u-uid" rel="author" href="/"></a>
    <h1 class="p-name">James Coulter</h1>
    <p class="p-role"> Designer.Technologist.</p>
</header>
