---
layout: layouts/base.njk
---

<article class="h-entry">
    <h2 class = "p-name e-content">{{ title }} </h2>
    {% if featuredImage %}
        <img src="{{ featuredImage }}" alt="{{ title }}" width="600">
    {% endif %}

        <p> {{ content | safe }}</p>

        <a class="u-url" href="/posts/{{ slug }}/">
                <time class="dt-published" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}<time>
        </a>
        <a class="u-author" href="/"></a>
</article>
