---
import { SITE_TITLE } from "@/consts";
---

<footer class="text-sm text-gray-500 font-extralight pb-8 flex flex-col justify-center md:flex-row md:justify-between space-y-2 md:space-y-0">
  <span>©{new Date().getFullYear()} James Coulter</span>
  <span class="flex space-x-2">
  </span>
  <span class="text-xs"><a href="https://xn--sr8hvo.ws/previous">←</a>
  An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
  <a href="https://xn--sr8hvo.ws/next">→</a>
  </span>
</footer>
