<div class="h-card sr-only">
  <a class="u-url u-uid" rel="me" href="https://blog.jamesandrewscoulter.com/">
    https://blog.jamesandrewscoulter.com/
  </a>

  <a class="u-url" rel="me" href="https://github.com/james-andrews-coulter">
    GitHub
  </a>

  <img class="u-photo" src="https://blog.jamesandrewscoulter.com/avatar.jpg" alt="">
  <span class="p-name">James Coulter</span>
  <span class="p-note">Australian Product Designer living in Europe</span>
</div>
