---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<nav class="mt-8 mb-4 flex flex-col md:flex-row md:justify-between items-start md:items-top">
  <div>
    <a href="/" class="hover:underline text-lg font-medium inline-block">
      {SITE_TITLE}
    </a>

    <p class="text-xs flex items-center space-x-2">
      <span>{SITE_DESCRIPTION} by</span>

      <span class="p-author h-card flex items-center space-x-1 ml-2">
        <span class="p-note">Aussie Product Designer in Europe</span>
        <img
          class="u-photo w-4 h-4 rounded-full"
          src="https://blog.james.com/avatar.jpg"
          alt="James Coulter"
          width="16"
          height="16"
        />
        <a
          class="p-name u-url u-uid"
          rel="me"
          href="https://blog.james.com/"
        >
          James Coulter
        </a>
      </span>

      <span>
        <a href="https://github.com/james-andrews-coulter" rel="me">Github</a>
      </span>
    </p>
  </div>
</nav>
