---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<nav class="mt-8 mb-4 flex flex-col md:flex-row md:justify-between items-start md:items-top">
  <div>
    <a href="/" class="hover:underline text-lg font-medium inline-block">
      {SITE_TITLE}
    </a>

    <div class="text-xs flex flex-wrap items-center leading-tight text-left">
      <span>A feed of daily micro musings by Aussie Product Designer in Europe <a href="https://blog.jamesandrewscoulter.com/" class="align-middle inline-flex items-center gap-1 whitespace-nowrap">
        <img
          class="w-4 h-4 rounded-full"
          src="https://blog.jamesandrewscoulter.com/avatar.jpg"
          alt="James Coulter"
          width="16"
          height="16"
        >
        James Coulter
      </a>
      </span>

    </div>


  </div>
</nav>
