---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<nav class="mt-8 mb-4 flex flex-col md:flex-row md:justify-between items-start md:items-top">
  <div>
    <a href="/" class="hover:underline text-lg font-medium inline-block">
      {SITE_TITLE}
    </a>

    <div class="text-xs flex flex-wrap items-center space-x-1" >
      <span>A feed of daily micro musings by</span>

        <span>Aussie Product Designer in Europe</span>
        <img
          class="w-4 h-4 rounded-full"
          src="https://blog.jamesandrewscoulter.com/avatar.jpg"
          alt="James Coulter"
          width="16"
          height="16"
        >
        <a href="https://blog.jamesandrewscoulter.com/">James Coulter</a>
    </div>
  </div>
</nav>
