---
layout: false
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>{{ site.title | escape }}</title>
    <link>{{ site.url }}</link>
    <description>{{ site.description | escape }}</description>
    <lastBuildDate>{{ (collections.posts[0] and collections.posts[0].date) | rfc822 }}</lastBuildDate>
    {% for post in collections.posts | head(20) %}
    <item>
      <title>{{ (post.data.title or "Untitled") | escape }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | rfc822 }}</pubDate>
      <description><![CDATA[{% set target = post.data['in-reply-to'] or post.data['repost-of'] or post.data['bookmark-of'] or post.data['like-of'] %}{% if target -%}{{ post.data.type }}: {{ target | autolink}}
{%- endif %}{{ (post.data.description or post.templateContent) | autolink | safe }}]]></description>
    </item>
    {% endfor %}
  </channel>
</rss>
